/.bundle
.DS_Store
# Ignore all logfiles and tempfiles.
/log/*
!/log/.gitkeep
/tmp
!/tmp/.gitkeep
/public/test*.html
/config/certificates/*
!/config/certificates/.gitkeep
/config/application.production.yml
/config/banks.production.yml
/config/database.yml
/config/database.production.yml
.ruby-gemset
.tm_properties
/config/deploy/*
!/config/deploy/example_app*
/custom*
.vscode